<ion-view>
  <ion-content>
  	<div class="card">
  		<div class="item">
  			<h1>{{item.nome}}</h1>
  			<!-- <img src="http://www.abgsolucoes.com.br/publico/noimage.png" width="100%"> -->
        <div class="card">
          <img class="centralizar-imagem margem-imagem" src="{{item.imagem}}" width="60%">
        </div>
  			<p>Descrição:</p>
  			<div class="item item-text-wrap">
  				<p>
  				{{item.descricao}}
  				</p>
  			</div>
  			<p>Preço: R$ {{item.preco}}</p>
  		</div>
    </div>
    <div class="item">
    <div class="bar bar-footer">
   		 <button class="button icon-right ion-checkmark button-positive button-full" ng-click="inserirPedido(2)">Pedir</button>
  	</div>
  	</div>
  </ion-content>
</ion-view>