<ion-view>
  <ion-content>
  	<div class="card">
  		<div class="item">
  			<p>Titulo do Item</p>
  			<img src="http://www.abgsolucoes.com.br/publico/noimage.png" width="100%">
  			<p>Descrição:</p>
  			<div class="item item-text-wrap">
  				<p>
  				Aqui, alguma descrição.
  				</p>
  			</div>
  			<p>Preço: R$ XX,XX</p>
  		</div>
    </div>
    <div class="item">
    <div class="bar bar-footer">
   		 <button class="button icon-right ion-checkmark button-positive button-full">Pedir</button>
  	</div>
  	</div>
  </ion-content>
</ion-view>